
<div *ngIf="newKegForm">
  <h1>Add New Keg</h1>
  <label>Beer Name:</label>
  <input #newBeerName>
  <label>Brewery:</label>
  <input #newBrewery>
  <label>Style:</label>
  <input #newStyle>
  <label>Price:</label>
  <input type="number" step="0.5" #newPrice>
  <label>Alcohol By Volume:</label>
  <input type="number" step="0.1" #newAbv>
  <button (click)="submitForm(newBeerName.value, newBrewery.value, newStyle.value, newPrice.value, newAbv.value); newBeerName.value=''; newBrewery.value=''; newStyle.value=''; newAbv.value=''; newPrice.value='';">Add New Keg</button>
</div>