<div>
  <span>Filter Kegs By: </span>
  <select (change)="onChange($event.target.value)">
    <option value="allKegs" selected="selected">All Kegs</option>
    <option value="cheapKegs">Cheap Kegs</option>
    <option value="strongKegs">Strong Kegs</option>
  </select>
</div>
  
<ul class="list-group list-group-flush">
  <li *ngFor="let keg of kegList | kegtype:filterByType" class="list-group-item">
    <h2>{{ keg.beerName }} | <span id="kegStyle">{{ keg.style }}</span></h2>
    <h3>{{ keg.brewery }}</h3>
    <h4><span [class]="priceColor(keg)">price: ${{ keg.price.toFixed(2) }}</span> | <span>abv: {{ keg.abv.toFixed(1) }}%</span></h4>
    <h5>pints remaining: {{ keg.pintsRemaining }}</h5> 
    <button (click)="sellPint(keg)" class="btn btn-sm btn-dark">Sell Pint</button> <button (click)="sellGrowler(keg)" class="btn btn-sm btn-dark">Sell Growler</button> <button (click)="sellLargeGrowler(keg)" class="btn btn-sm btn-dark">Sell Large Growler</button>
    <button (click)="editButtonClicked(keg)" class="btn btn-sm btn-info">Edit</button>
  </li>
</ul>