<div *ngIf="selectedKeg">
  <h1>{{ selectedKeg.brewery }} | {{selectedKeg.beerName }} Details</h1>
  <label>Beer Name:</label>
  <input [(ngModel)]="selectedKeg.beerName">
  <label>Brewery:</label>
  <input [(ngModel)]="selectedKeg.brewery">
  <label>Style:</label>
  <input [(ngModel)]="selectedKeg.style">
  <label>Price:</label>
  <input type="number" step="0.5" [(ngModel)]="selectedKeg.price">
  <label>Alcohol By Volume:</label>
  <input type="number" step="0.1" [(ngModel)]="selectedKeg.abv">
  <button (click)="finishedEditing()">Done Editing</button>
</div>
